# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.buildlog/
pubspec.lock

# Build outputs
build/
android/app/build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE and OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Firebase / secrets
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
.env.*
*.keystore
*.jks

# Binaries
*.apk
*.aab
*.ipa
